.mStart {
  width: .4rem;
  height: 2.2rem;
  text-align: center;
  position: fixed;
  right: 1%;
  bottom: 20%;
  z-index: 99;
  font-size: .2rem;
}

.mStart div {
  height: .4rem;
  line-height: .4rem;
  margin-top: .1rem;
  border-radius: .2rem;
  box-shadow: gray 0 0 5px;
}

.mStart div:hover {
  box-shadow: black 0 0 5px;
}